.waiting-for-results {
    font-family: "Libre Caslon Text", serif;
    font-size: 2rem;
    text-align: center;
    margin-top: 10vw;
}

.success-container {
    background: linear-gradient(
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0.15)
      ),
      url("../images/clouds.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    flex: 1;
    margin: 8vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 20px;
    min-height: 400px;
}

.audio-player-container {
    width: 300px;
}

.success-title, .generate-new-example {
    background: rgba(255, 255, 255, 0.05);
    padding: 10px;
    border-radius: 4px;
    width: 80%
}

.rhap_container, .rhap_container *:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.rhap_container {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 4px;
}

.rhap_container:hover {
    background:  rgba(255, 255, 255, 0.3);
}

.rhap_container svg {
    color: black;
}

.rhap_progress-indicator, .rhap_progress-filled {
    background-color: black;
}

.results-button, .or {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: 1.3rem;
}

.results-button:hover {
    cursor: pointer;
    font-size: 1.31rem;
}

@media screen and (max-width : 500px) {

    .success-container {
        margin: 0 0 8vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 20px;
        min-height: 400px;
    }

    .waiting-for-results {
        font-size: 1.2rem;
    }

    .audio-player-container {
        max-width: 90vw;
    }
}
