.gallery {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.gallery-space {
    flex: 1;
}

.gallery-instructions {
    width: 90vw;
    max-width: 700px;
    margin: 0 auto;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 40px;
}

.gallery-title {
    font-size: 1.6rem;
    margin: 70px auto;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

.gallery-middle-section {
    font-family: "Open Sans", sans-serif;
    padding: 20px 0;
    background: linear-gradient(
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.4)
      ),
      url("../images/gallery.jpg") no-repeat center center; 
    background-size: 120%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mode-title-container {
    width: 140px;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    transition: font-size 150ms;

}

.mode-title-container:hover {
    border: 3px solid black;
}

.mode-title {
    font-weight: 600;
    font-size: 1rem;
}

.mode-title:hover {
    font-size: 1.05rem;
    cursor: pointer;
}

.selected-mode-title {
    background: rgba(0, 0, 0, 0.4);
}

.gallery-result {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-audio-wrapper {
    margin-top: 30px;
    width: 300px;
}

.gallery-image {
    width: 80vw;
}

.list-modes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90vw;
    margin: auto;
}

@media screen and (max-width : 400px) {

    .gallery-instructions {
        font-size: .9rem;
        margin-bottom: 15px;
    }

    .gallery-audio-wrapper {
        width: 90vw;
    }

    .mode-title {
        font-size: .4rem;
    }
    
    .mode-title:hover {
        font-size: .403rem;
    }

    .mode-title-container {
        width: 65px;
        height: 18px;
        border-radius: 3px;
        border: 1px solid black;
        margin: 12px;
    }

    .mode-title-container:hover {
        border: 2px solid black;
    }
    
  }

