.length-options {
    display: flex;
    margin-top: 40px;
}

.measure-option {
    font-family: "Libre Caslon Text", serif;
    font-weight: 700;
    font-size: 2rem;
    transition: font-size 200ms;
    margin: 0 20px;
}

@media screen and (max-width : 400px) {
    .measure-option {
        font-size: 1.2rem;
    }
}

.measure-option:hover {
    font-size: 2.2rem;
    cursor: pointer;
}