.show-types {
    font-family: "Open Sans", sans-serif;
    width: 90vw;
    margin: auto 5vw 5vw;
}


.type-title {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
    margin: 20px 0 10px;
}

.type-selection-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.type-selection {
    font-family: "Open Sans", sans-serif;
    height: 220px;
    width: 220px;
    padding: 24px 30px;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
    transition: font-size 150ms;
}

.type-selection:hover {
    font-size: 1.015rem;
    cursor: pointer;
    border: 3px solid black;
    padding: 22px 28px;
    box-shadow: 2px 4px 2px #bbb;
}

.type-name {
    font-size: 1.1em;
    font-weight: 600;
}

.complexity-warning {
    color: crimson;
    font-size: .8em;
    font-weight: 600;
    padding: 5px;
}

.type-description {
    font-size: 0.8em;
    font-family: "Libre Caslon Text", serif;
    flex: 1;
}

.type-description a {
    color: #040853;
    text-decoration: underline;
}

.cantus-firmus {
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("../images/green1.jpg") no-repeat center center; 
}

.free-melody {
    background: linear-gradient(
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.7)
      ),
      url("../images/green2.jpg") no-repeat center center; 
}

.first-species {
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("../images/green3.jpg") no-repeat center center; 
}

.second-species {
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("../images/green4.jpg") no-repeat center center; 
}

.third-species {
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("../images/green5.jpg") no-repeat center center; 
}

.fourth-species {
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("../images/green6.jpg") no-repeat center center; 
}

.fifth-species {
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("../images/green7.jpg") no-repeat center center; 
}

.free-counterpoint {
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("../images/green9.jpg") no-repeat center center; 
}

.imitative-counterpoint {
    background: linear-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.6)
      ),
      url("../images/green8.jpg") no-repeat center center; 
}

.preview-image {
    width: 200px;
    height: 75px;
    margin: auto;
}

.preview-image:hover {
    cursor: pointer;
}

.cantus-firmus-preview {
    grid-row: 2 / 3;
    background: url("../images/CantusFirmusPreview.png") no-repeat;
    background-size: 100%;
}

.free-melody-preview {
    background: url("../images/FreeMelodyPreview.png") no-repeat;
    background-size: 100%;
}

.first-species-preview {
    background: url("../images/FirstSpeciesPreview.png") no-repeat;
    background-size: 100%;
}

.second-species-preview {
    background: url("../images/SecondSpeciesPreview.png") no-repeat;
    background-size: 100%;
}

.third-species-preview {
    background: url("../images/ThirdSpeciesPreview.png") no-repeat;
    background-size: 100%;
}

.fourth-species-preview {
    background: url("../images/FourthSpeciesPreview.png") no-repeat;
    background-size: 100%;
}

.fifth-species-preview {
    background: url("../images/FifthSpeciesPreview.png") no-repeat;
    background-size: 100%;
}

.free-counterpoint-preview {
    background: url("../images/FreeCounterpointPreview.png") no-repeat;
    background-size: 100%;
}

.imitative-counterpoint-preview {
    background: url("../images/ImitativeCounterpointPreview.png") no-repeat;
    background-size: 100%;
}
