.select-type-description {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    max-width: 700px;
}

.show-types {
    font-family: "Open Sans", sans-serif;
    width: 90vw;
    margin: auto 5vw 5vw;
    display: grid;
    grid-template-columns: 2fr .5fr 1fr .5fr 1fr;
    grid-template-rows: repeat(12, auto);
    --arrow-color: #666;
}

.arrow-container {
    padding: 200px 0;
    grid-row: 1 / 13;
    grid-column: 5 / 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--arrow-color);
}

.arrow-text {
    margin: 5px 0;
}

.upward-triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 13px solid var(--arrow-color);
}

.arrow-body {
    width: 10px;
    height: 40px;
    background-color: var(--arrow-color);
}

.arrow-filler {
    flex: 1;
}

.downward-triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 13px solid var(--arrow-color);
}

.type-title {
    grid-column: 1 / 4;
    font-size: 1.3rem;
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.solo-melody-title {
    grid-row: 1 / 2;
}

.species-counterpoint-title {
    grid-row: 4 / 5;
}

.two-part-counterpoint-title {
    grid-row: 10 / 11;
}

.type-selection {
    padding: 10px;
    grid-column: 1 / 2;
    margin: 5px 0;
    font-size: 1.2rem;;
}

.type-description {
    font-size: 0.8rem;
    font-family: "Libre Caslon Text", serif;
}

.type-description a {
    color: blue;
    text-decoration: underline;
}

.type-selection:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.cantus-firmus {
    grid-row: 2 / 3;
}

.preview-image {
    grid-column: 3 / 4;
    width: 200px;
    height: 40px;
    margin: auto 0;
}

.cantus-firmus-preview {
    grid-row: 2 / 3;
    background: url("../images/CantusFirmusPreview.png") no-repeat;
    background-size: 100%;
}

.free-melody-preview {
    grid-row: 3 / 4;
    background: url("../images/FreeMelodyPreview.png") no-repeat;
    background-size: 100%;
}

.first-species-preview {
    grid-row: 5 / 6;
    background: url("../images/FirstSpeciesPreview.png") no-repeat;
    background-size: 100%;
}

.second-species-preview {
    grid-row: 6 / 7;
    background: url("../images/SecondSpeciesPreview.png") no-repeat;
    background-size: 100%;
}

.third-species-preview {
    grid-row: 7 / 8;
    background: url("../images/ThirdSpeciesPreview.png") no-repeat;
    background-size: 100%;
}

.fourth-species-preview {
    grid-row: 8 / 9;
    background: url("../images/FourthSpeciesPreview.png") no-repeat;
    background-size: 100%;
}

.fifth-species-preview {
    grid-row: 9 / 10;
    background: url("../images/FifthSpeciesPreview.png") no-repeat;
    background-size: 100%;
}

.free-counterpoint-preview {
    grid-row: 11 / 12;
    background: url("../images/FreeCounterpointPreview.png") no-repeat;
    background-size: 100%;
}

.imitative-counterpoint-preview {
    grid-row: 12 / 13;
    background: url("../images/ImitativeCounterpointPreview.png") no-repeat;
    background-size: 100%;
}

.complexity-warning {
    color: crimson;
    font-size: .7rem;
    font-weight: 400;
}

@media screen and (max-width : 700px) {
    .show-types {
        max-width: 90vw;
        grid-template-columns: 2fr .2fr 30px;
        grid-template-rows: repeat(21, auto);
    }

    .type-name {
        font-size: 0.8rem;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .type-description {
        font-size: 0.5rem;
    }

    .arrow-container {
        padding: 100px 2px;
        grid-row: 1 / 22;
        grid-column: 3 / 4;
    }

    .arrow-text {
        font-size: .6rem;
    }

    .type-title {
        font-size: 1.1rem;
        margin: 4px 0;
        grid-column: 1 / 2;
    }

    .solo-melody-title {
        grid-row: 1 / 2;
    }
    
    .species-counterpoint-title {
        grid-row: 6 / 7;
    }
    
    .two-part-counterpoint-title {
        grid-row: 17 / 18;
    }

    .preview-image {
        grid-column: 1 / 2;
    }

    .cantus-firmus-preview {
        grid-row: 3 / 4;
    }
    
    .free-melody-preview {
        grid-row: 5 / 6;
    }
    
    .first-species-preview {
        grid-row: 8 / 9;
    }
    
    .second-species-preview {
        grid-row: 10 / 11;
    }
    
    .third-species-preview {
        grid-row: 12 / 13;
    }
    
    .fourth-species-preview {
        grid-row: 14 / 15;
    }
    
    .fifth-species-preview {
        grid-row: 16 / 17;
    }
    
    .free-counterpoint-preview {
        grid-row: 19 / 20;
    }
    
    .imitative-counterpoint-preview {
        grid-row: 21 / 22;
    }
}